In [2]:
import numpy as np
import pandas as pd
import os

import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
import sklearn

## Case # 1

### E vs Li (<font color=red>V</font>) vs Capacity (<font color=red>Ah cm<sup>-2</sup></font>) &#8594; Capacity (<font color=red>Ah cm<sup>-2</sup></font>) vs i (<font color=red>$\mu A$ cm <sup>-2</sup></font>)

#### Use the highest x-value (capacity Ah cm<sup>-2</sup></font>)

In [ ]:
def potential_rate(n):
    """ 
    This function converts potential vs. capacity data to capacity vs c-rate data
    
    Highest x-value (capacity [mAh]) from the charge/discharge graph
    Input: Potential vs Capacity excel file
    Output: Capacity vs c-rate excel file
    
    """
    return;

### Entering c-rates

In [28]:
rates = { "C rate": [0.5, 1.0, 2.0, 5.0]}

df_rates = pd.DataFrame(rates)

df_rates

   C rate
0     0.5
1     1.0
2     2.0
3     5.0

### 1. Uploading excel file with desired data

In [4]:
df = pd.read_excel('liibattery3d_performancelog.xls', sheet_name = ['1_Discharge (Cover2)', '1_Discharge (1C)', '1_Discharge (2C)', '1_Discharge (5C)'], header = [0,1,2])

df['1_Discharge (Cover2)'].head()

        Paper # 14                   Paper # 31                               \
            set #8                       set #1                       set #2
  Capacity (mAh/g) Voltage (V) Capacity (mAh/g) Voltage (V) Capacity (mAh/g)
0         4.965905    3.759844        13.782550    3.223055         4.955569
1        10.669414    3.660817        24.151907    3.169608        15.194221
2        16.082465    3.554446        34.211732    3.106782        25.037697
3        22.581061    3.496632        44.426323    3.063749        34.018971
4        39.715057    3.384521        54.640914    3.034370        43.646897

                    Paper # 32                                           \
                        set #1                       set #2
  Voltage (V) Capacity (mAh/g) Voltage (V) Capacity (mAh/g) Voltage (V)
0    3.381480         0.357306    1.922179         0.516464    1.856763
1    3.369484         2.627373    1.695525         0.629378    1.788188
2    3.310078         1.265333    1.831123         2.452121    1.673004
3    3.237262         1.719346    1.796435         1.081031    1.752818
4    3.195075         1.946353    1.773310         1.419771    1.722501


            set #3
  Capacity (mAh/g) Voltage (V)
0         0.480789    1.799430
1         0.480789    1.770996
2         0.708262    1.735927
3         1.163210    1.692518
4         2.950503    1.578659

### 2. Merging sheets

In [5]:
sheet_1 = df['1_Discharge (Cover2)']
sheet_2 = df['1_Discharge (1C)']
sheet_3 = df['1_Discharge (2C)']
sheet_4 = df['1_Discharge (5C)']

# Figure out a way to use for loop this

In [6]:
df_merged = pd.concat([sheet_1,sheet_2,sheet_3,sheet_4], axis = 1)

In [7]:
df_merged

         Paper # 14                   Paper # 31                               \
             set #8                       set #1                       set #2
   Capacity (mAh/g) Voltage (V) Capacity (mAh/g) Voltage (V) Capacity (mAh/g)
0          4.965905    3.759844        13.782550    3.223055         4.955569
1         10.669414    3.660817        24.151907    3.169608        15.194221
2         16.082465    3.554446        34.211732    3.106782        25.037697
3         22.581061    3.496632        44.426323    3.063749        34.018971
4         39.715057    3.384521        54.640914    3.034370        43.646897
..              ...         ...              ...         ...              ...
56              NaN         NaN              NaN         NaN              NaN
57              NaN         NaN              NaN         NaN              NaN
58              NaN         NaN              NaN         NaN              NaN
59              NaN         NaN              NaN         NaN              NaN
60              NaN         NaN              NaN         NaN              NaN

                     Paper # 32                                           ...  \
                         set #1                       set #2              ...
   Voltage (V) Capacity (mAh/g) Voltage (V) Capacity (mAh/g) Voltage (V)  ...
0     3.381480         0.357306    1.922179         0.516464    1.856763  ...
1     3.369484         2.627373    1.695525         0.629378    1.788188  ...
2     3.310078         1.265333    1.831123         2.452121    1.673004  ...
3     3.237262         1.719346    1.796435         1.081031    1.752818  ...
4     3.195075         1.946353    1.773310         1.419771    1.722501  ...
..         ...              ...         ...              ...         ...  ...
56         NaN       154.154324    1.017402              NaN         NaN  ...
57         NaN        85.423729    1.541007              NaN         NaN  ...
58         NaN         4.971751    1.624460              NaN         NaN  ...
59         NaN              NaN         NaN              NaN         NaN  ...
60         NaN              NaN         NaN              NaN         NaN  ...

         Paper # 31                                                Paper # 32  \
             set #1                       set #2                       set #1
   Capacity (mAh/g) Voltage (V) Capacity (mAh/g) Voltage (V) Capacity (mAh/g)
0          4.393380    3.225997         1.111584    3.126072         0.979316
1         14.504793    3.181492         4.955569    3.051738         1.521072
2         23.997141    3.144436        13.469816    3.006404         7.691062
3         34.211732    3.072300        22.954042    2.944872        12.657152
4         44.426323    3.012440        32.438267    2.874374        17.623241
..              ...         ...              ...         ...              ...
56              NaN         NaN              NaN         NaN              NaN
57              NaN         NaN              NaN         NaN              NaN
58              NaN         NaN              NaN         NaN              NaN
59              NaN         NaN              NaN         NaN              NaN
60              NaN         NaN              NaN         NaN              NaN


                         set #2                       set #3
   Voltage (V) Capacity (mAh/g) Voltage (V) Capacity (mAh/g) Voltage (V)
0     1.704329         0.968118    1.371688         0.207820    1.292306
1     1.591049         6.162129    1.307753         2.224753    1.257074
2     1.454812        10.227008    1.282705         6.395104    1.227192
3     1.433789        15.195193    1.262493        10.717103    1.198693
4     1.422489        20.163378    1.245956        15.721523    1.170259
..         ...              ...         ...              ...         ...
56         NaN              NaN         NaN              NaN         NaN
57         NaN              NaN         NaN              NaN         NaN
58         NaN              NaN         NaN              NaN         NaN
59         NaN              NaN         NaN              NaN         NaN
60         NaN              NaN         NaN              NaN         NaN

[61 rows x 38 columns]

### 3. Selecting wanted data

In [ ]:
# Program checks if 
# if the data frame does not start with Print # 32 then drop()

In [8]:
set_1 = (df_merged['Paper # 32', 'set #1'])
set_2 = (df_merged['Paper # 32', 'set #2'])
set_3 = (df_merged['Paper # 32', 'set #3'])

/home/gskl92/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:2894: PerformanceWarning: indexing past lexsort depth may impact performance.
  result = self._run_cell(

In [9]:
set_1

,Capacity (mAh/g),Voltage (V),Capacity (mAh/g),Voltage (V),Capacity (mAh/g),Voltage (V),Capacity (mAh/g),Voltage (V)
0,0.357306,1.922179,0.584313,1.854248,2.367937,1.625060,0.979316,1.704329
1,2.627373,1.695525,0.584313,1.831123,0.357306,1.955422,1.521072,1.591049
2,1.265333,1.831123,0.697816,1.805830,0.584313,1.932296,7.691062,1.454812
3,1.719346,1.796435,1.113995,1.778128,0.584313,1.909171,12.657152,1.433789
4,1.946353,1.773310,1.265333,1.756930,0.720517,1.877374,17.623241,1.422489
...,...,...,...,...,...,...,...,...
56,154.154324,1.017402,NaN,NaN,NaN,NaN,NaN,NaN
57,85.423729,1.541007,NaN,NaN,NaN,NaN,NaN,NaN
58,4.971751,1.624460,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
set_2

,Capacity (mAh/g),Voltage (V),Capacity (mAh/g),Voltage (V),Capacity (mAh/g),Voltage (V),Capacity (mAh/g),Voltage (V)
0,0.516464,1.856763,0.516464,1.726832,2.285439,1.573321,0.968118,1.371688
1,0.629378,1.788188,0.742291,1.699883,2.210164,1.542763,6.162129,1.307753
2,2.452121,1.673004,2.488683,1.614418,2.435990,1.508837,10.227008,1.282705
3,1.081031,1.752818,3.452210,1.564178,4.290995,1.480995,15.195193,1.262493
4,1.419771,1.722501,5.409374,1.532417,8.420395,1.459096,20.163378,1.245956
...,...,...,...,...,...,...,...,...
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4. Selecting max values

In [11]:
set_1_max = set_1["Capacity (mAh/g)"].max(axis =0).array
set_2_max = set_2["Capacity (mAh/g)"].max(axis =0).array
set_3_max = set_3["Capacity (mAh/g)"].max(axis =0).array

In [12]:
set_1_max

<PandasArray>
[154.15432381534, 149.841197129332, 141.685171854663, 110.398825792084]
Length: 4, dtype: float64

In [13]:
cap_1 = pd.DataFrame({"Capacity (mAh/g)": set_1_max})
cap_2 = pd.DataFrame({"Capacity (mAh/g)": set_2_max})
cap_3 = pd.DataFrame({"Capacity (mAh/g)": set_3_max})

### 5. Combining with c-rates and MultiIndexing

In [29]:
cap_rates = pd.concat([df_rates, cap_1, df_rates, cap_2, df_rates, cap_3], axis = 1)

In [30]:
cap_rates

,C rate,Capacity (mAh/g),C rate,Capacity (mAh/g),C rate,Capacity (mAh/g)
0,0.5,154.154324,0.5,147.303752,0.5,144.812819
1,1.0,149.841197,1.0,139.399821,1.0,135.372662
2,2.0,141.685172,2.0,118.804436,2.0,116.264876
3,5.0,110.398826,5.0,65.780351,5.0,48.477729

In [26]:
cap_rates.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
# cap_rates.columns = pd.MultiIndex.from_tuples(zip(['set #1', 'set #2', 'set #3'], cap_rates))

# cap_rates

In [ ]:
# def highest_cap(caplist):
   # max = caplist[0]
   # for n in caplist:
      #  if n > max :
         #   max = n
   # return max

 ### 6. Exporting the dataframe to a specific Excel Sheet

In [ ]:
# df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)

# Note: you will have to install openpyxl if you get the following error:

# ModuleNotFoundError: No module named ‘openpyxl’

## Case # 2

### Capacity (<font color=red>Ah cm<sup>-2</sup></font>) vs Cycle &#8594; Capacity (<font color=red>Ah cm<sup>-2</sup></font>) vs i (<font color=red>$\mu A$ cm <sup>-2</sup></font>)

#### Current density has to be entered separately, cannot be calculated with the amount of information given from the capacity data online

In [ ]:
def Cycle_rate(n):
    
    """ 
    This function converts capacity vs. cycle data to capacity vs c-rate
    
    Average the x-values (capacity [mAh]) of corresponding current density from the charge/discharge graph
    Input: Capacity vs Cycle excel file
    Output: Capacity vs c-rate excel file
    
    """
    
    return;

In [ ]:
path = "3D_Battery_Performance_Log.xlsx"
file_name = os.path.abspath(path)

print(file_name)

In [ ]:
df2 = pd.read_excel('3D_Battery_Performance_Log.xls', sheet_name = '4_CapacityCycle', header = [0,1,2])

In [ ]:
df2.head()

In [ ]:
df2['Paper # 1']['Set #1 E'].head()

In [ ]:
df = pd.read_excel('Paper_99_data.xls', sheet_name = 'CapacityCycle', header = [0,1,2])

In [ ]:
df.head()

In [ ]:
x = df.iloc[:,0]
y = df.iloc[:,4]

matplotlib.rcParams.update({'font.size': 10})
fig = plt.figure(figsize=(20, 5))


plt.scatter(x,y)

In [ ]:
df.iloc[:5,0]

In [ ]:
c_rate = [1, 2, 4, 8, 20, 8, 4, 2, 1]

In [ ]:
def groupedAvg(AvgCap, N=10):
    result = np.cumsum(AvgCap)[0:N-1]/float(N)
    return result

In [ ]:
groupedAvg(y, N=10) #I'm not sure why it's showing smallest to largest